cnn/aug_pics/*.png
cnn/raw_pics/*.png
cnn/model_saves/*
cnn/aug_pics_test/*.png
full_stack/pics/*
full_stack/pics_ex1/*
full_stack/pics
full_stack/pics_ex1
cnn/aug_pics_test/*.png
cnn/aug_letters/*.png
cnn/aug_nums/*.png
.vscode
*.pyc
